*.vcxproj.user
.vs
*.orig
user.cfg

/out

/eprj/madchook/tmp
/eprj/madchook/*.lst
/eprj/detours/.tmp
/iprj/edrsvc/build/vc2017/VTune*Amplifier*Results

/iprj/installation/src/FilesList.wxs
/iprj/upgrade/src/FilesListWin32.wxs
/iprj/upgrade/src/FilesListx64.wxs

/iprj/ats/scenarios/ut_libcloud/data/gcpstat.dat
/eprj/grpc/src
