<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Comment3</Title>
      <Shortcut>//</Shortcut>
      <Description>3-line comment</Description>
    </Header>
    <Snippet>
      <Code Language="cpp">
        <![CDATA[//
//
//]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>