<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>DictionaryCons</Title>
      <Shortcut>Dicti</Shortcut>
      <Description>Dictionary constructor</Description>
    </Header>
    <Snippet>
      <Code Language="cpp">
        <![CDATA[Dictionary({
				{"$selected$", $end$}
			})]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>