<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>WinApiError</Title>
      <Shortcut>winer</Shortcut>
      <Description>Code snippet for WinApiError handler</Description>
    </Header>
    <Snippet>
      <Code Language="cpp">
        <![CDATA[error::win::WinAPIError(SL, "$selected$").$end$();]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>