/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 1,5,0,7
 PRODUCTVERSION 1,5,8,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "nfapi"
            VALUE "FileVersion", "1, 5, 0, 7"
            VALUE "InternalName", "nfapi"
            VALUE "LegalCopyright", "Copyright (C)"
            VALUE "OriginalFilename", "nfapi.dll"
            VALUE "ProductName", "NetFilterSDK"
            VALUE "ProductVersion", "1, 5, 8, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

